<!DOCTYPE html>
	<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Prototype</title>
	<link rel="stylesheet" href="/css/layui.css"></link>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script src="/js/layui.js"></script>
	<script>
		//JavaScript代码区域
		layui.use("element", function() {
			var element = layui.element;
			var $ = layui.jquery, element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
		});
		$(document).ready(function() {
			$("dd>a").click(function(e) {
				e.preventDefault();
				$("#iframeMain").attr("src", $(this).attr("href"));
			});
		});
	</script>
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo">Prototype Cocome</div>
				<!-- 头部区域（可配合layui已有的水平导航） -->
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item layui-this"><a href="/main/index" id="s_function">System Function</a></li>
					<li class="layui-nav-item"><a href="/main/index2" id="s_state">System State</a></li>
				</ul>
			</div>
			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<ul class="layui-nav layui-nav-tree">
			<li class="layui-nav-item">
				<a class="" href="javascript:;" id="Cashier">Cashier</a>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/makeNewSale" id="makeNewSale">&emsp;makeNewSale</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/enterItem" id="enterItem">&emsp;enterItem</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/endSale" id="endSale">&emsp;endSale</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/makeCashPayment" id="makeCashPayment">&emsp;makeCashPayment</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/makeCardPayment" id="makeCardPayment">&emsp;makeCardPayment</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/openCashDesk" id="openCashDesk">&emsp;openCashDesk</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/closeCashDesk" id="closeCashDesk">&emsp;closeCashDesk</a>
								</dd>
							</dl>		
	</li>	
			<li class="layui-nav-item">
				<a class="" href="javascript:;" id="Business">Business</a>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/makeNewOrder" id="makeNewOrder">&emsp;makeNewOrder</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/listAllOutOfStoreProducts" id="listAllOutOfStoreProducts">&emsp;listAllOutOfStoreProducts</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/orderItem" id="orderItem">&emsp;orderItem</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/chooseSupplier" id="chooseSupplier">&emsp;chooseSupplier</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/placeOrder" id="placeOrder">&emsp;placeOrder</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/changePrice" id="changePrice">&emsp;changePrice</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/receiveOrderedProduct" id="receiveOrderedProduct">&emsp;receiveOrderedProduct</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/listSuppliers" id="listSuppliers">&emsp;listSuppliers</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/showStockReports" id="showStockReports">&emsp;showStockReports</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/openStore" id="openStore">&emsp;openStore</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/closeStore" id="closeStore">&emsp;closeStore</a>
								</dd>
							</dl>		
	</li>	
			<li class="layui-nav-item">
				<a class="" href="javascript:;" id="StoreManager">StoreManager</a>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/createStore" id="createStore">&emsp;createStore</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/queryStore" id="queryStore">&emsp;queryStore</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/modifyStore" id="modifyStore">&emsp;modifyStore</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/deleteStore" id="deleteStore">&emsp;deleteStore</a>
								</dd>
							</dl>		
	</li>	
			<li class="layui-nav-item">
				<a class="" href="javascript:;" id="ProductCatalogManager">ProductCatalogManager</a>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/createProductCatalog" id="createProductCatalog">&emsp;createProductCatalog</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/queryProductCatalog" id="queryProductCatalog">&emsp;queryProductCatalog</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/modifyProductCatalog" id="modifyProductCatalog">&emsp;modifyProductCatalog</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/deleteProductCatalog" id="deleteProductCatalog">&emsp;deleteProductCatalog</a>
								</dd>
							</dl>		
	</li>	
			<li class="layui-nav-item">
				<a class="" href="javascript:;" id="CashDeskManager">CashDeskManager</a>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/createCashDesk" id="createCashDesk">&emsp;createCashDesk</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/queryCashDesk" id="queryCashDesk">&emsp;queryCashDesk</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/modifyCashDesk" id="modifyCashDesk">&emsp;modifyCashDesk</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/deleteCashDesk" id="deleteCashDesk">&emsp;deleteCashDesk</a>
								</dd>
							</dl>		
	</li>	
			<li class="layui-nav-item">
				<a class="" href="javascript:;" id="CashierManager">CashierManager</a>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/createCashier" id="createCashier">&emsp;createCashier</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/queryCashier" id="queryCashier">&emsp;queryCashier</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/modifyCashier" id="modifyCashier">&emsp;modifyCashier</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/deleteCashier" id="deleteCashier">&emsp;deleteCashier</a>
								</dd>
							</dl>		
	</li>	
			<li class="layui-nav-item">
				<a class="" href="javascript:;" id="ItemManager">ItemManager</a>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/createItem" id="createItem">&emsp;createItem</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/queryItem" id="queryItem">&emsp;queryItem</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/modifyItem" id="modifyItem">&emsp;modifyItem</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/deleteItem" id="deleteItem">&emsp;deleteItem</a>
								</dd>
							</dl>		
	</li>	
			<li class="layui-nav-item">
				<a class="" href="javascript:;" id="SupplierManager">SupplierManager</a>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/createSupplier" id="createSupplier">&emsp;createSupplier</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/querySupplier" id="querySupplier">&emsp;querySupplier</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/modifySupplier" id="modifySupplier">&emsp;modifySupplier</a>
								</dd>
							</dl>		
							<dl class="layui-nav-child">
								<dd >
									<a href="/main/deleteSupplier" id="deleteSupplier">&emsp;deleteSupplier</a>
								</dd>
							</dl>		
	</li>	
					</ul>
				</div>
			</div>
			<div class="layui-body">
						<iframe id="iframeMain" 
					style="width: 100%; height: 100%;" src="/main/welcome">
				</iframe>
			</div>
		</div>
	</body>
	</html>
	